<!-- Detail View -->
<div id="divServiceUserDetail" class="contentContainer" ng-controller="DetailController">


    <!-- ************ -->
    <!-- detail row 1 -->
    <!-- ************ -->
    <div class="row">
        <!-- Profile -->
        <div id="divProfile" class="col-sm-4 detailItem">
            <div id="divProfileHeader" class="detailItemHeader">{{serviceUser.firstName}} {{serviceUser.lastName}}</div>
            <img id="imgProfilePicture" ng-src="{{serviceUser.profilePicture}}" />
        </div>

        <!-- Status -->
        <div id="divStatus" class="col-sm-4 detailItem">
            <div id="divStatusHeader" class="detailItemHeader">Status</div>

            <div class="detailItemBorder">
                <img class="imgStatusItem" src="images/whitebackground.png" />
                <div class="divSatusItemText">

                    <!-- battery level -->
                    <div class="col-xs-6 text-center">
                        <span class="detailStatusIcon glyphicon glyphicon-flash" style="color: yellow"></span>
                        <br />
                        <span class="">{{serviceUser.batteryLevel}}% battery </span>
                    </div>

                    <!-- signal -->
                    <div class="col-xs-6 text-center">
                        <span class="detailStatusIcon glyphicon glyphicon-signal" style="color: yellow"></span>
                        <br />
                        <span class="">Signal {{serviceUser.lastSignalMin}} min ago </span>
                    </div>

                    <!-- alarm -->
                    <div class="col-xs-6 text-center">
                        <span class="detailStatusIcon glyphicon glyphicon-exclamation-sign" style="color: red"></span>
                        <br />
                        <span class="">{{serviceUser.activeAlarms}} active alarm </span>
                    </div>

                    <!-- last movement -->
                    <div class="col-xs-6 text-center">
                        <span class="detailStatusIcon glyphicon glyphicon-time" style="color: green"></span>
                        <br />
                        <span class="">Movement 15 min ago </span>
                    </div>

                </div>
            </div>
        </div>


        <!-- Location -->
        <div id="divLocation" class="col-sm-4 detailItem">
            <div id="divMapHeader" class="detailItemHeader">Location</div>
            <div id="divMap"></div>
        </div>

    </div>

    <!-- ************ -->
    <!-- detail row 2 -->
    <!-- ************ -->
    <div class="row">

        <!-- Alert -->
        <div id="divAlert" class="col-sm-4 detailItem">
            <div id="divAlertHeader" class="detailItemHeader">Alert history</div>

            <div class="detailItemBorder">
                <img class="imgDetailItem" src="images/whitebackground.png" />
                <div class="divDetailItemText">
                    <!-- TODO: data from View Model -->
                    <div class="detailItemDate">08/09/2015 12:30</div><div class="detailText">Carer2 accepted alert</div>
                    <div class="detailItemDate">08/09/2015 12:28</div><div class="detailText">Carer2 contacted</div>
                    <div class="detailItemDate">08/09/2015 12:26</div><div class="detailText">Carer1 declined alert</div>
                    <div class="detailItemDate">08/09/2015 12:26</div><div class="detailText">Carer1 contacted</div>
                    <div class="detailItemDate">07/09/2015 12:30</div><div class="detailText">Carer2 accepted alert</div>
                    <div class="detailItemDate">07/09/2015 12:28</div><div class="detailText">Carer2 contacted</div>
                    <div class="detailItemDate">07/09/2015 12:26</div><div class="detailText">Carer1 declined alert</div>
                    <div class="detailItemDate">07/09/2015 12:26</div><div class="detailText">Carer1 contacted</div>
                </div>
            </div>
        </div>


        <!-- Message History -->
        <div id="divMessage" class="col-sm-4 detailItem">
            <div class="detailItemHeader">Messages</div>

            <div class="detailItemBorder">
                <img class="imgDetailItem" src="images/whitebackground.png" />
                <div class="divDetailItemText">
                    <!-- TODO: data from View Model -->
                    <div class="detailItemDate">08/09/2015 09:00</div><div class="messageSender text-right">from Carer2</div>
                    <div class="messageText">How do you feel today?</div><div class="messageAnswer text-right">Very good</div>
                    <div class="detailItemDate">07/09/2015 13:28</div><div class="messageSender text-right">from Carer1</div>
                    <div class="messageText">Did your neighbour visit?</div><div class="messageAnswer text-right">No</div>
                    <div class="detailItemDate">05/09/2015 15:01</div><div class="messageSender text-right">from Carer2</div>
                    <div class="messageText">How is your knee pain today?</div><div class="messageAnswer text-right">OK</div>
                    <div class="detailItemDate">04/09/2015 09:00</div><div class="messageSender text-right">from Carer2</div>
                    <div class="messageText">How do you feel today?</div><div class="messageAnswer text-right">Good</div>
                    <div class="detailItemDate">02/09/2015 13:28</div><div class="messageSender text-right">from Carer1</div>
                    <div class="messageText">Did your neighbour visit?</div><div class="messageAnswer text-right">Yes</div>
                </div>
            </div>
        </div>

        <!-- Reminder -->
        <div id="divReminder" class="col-sm-4 detailItem">
            <div class="detailItemHeader">Reminder history</div>

            <div class="detailItemBorder">
                <img class="imgDetailItem" src="images/whitebackground.png" />
                <div class="divDetailItemText">
                    <!-- TODO: data from View Model -->
                    <div class="detailItemDate">08/09/2015 21:30</div><div class="detailText">Time to go to bed.</div>
                    <div class="detailItemDate">08/09/2015 14:00</div><div class="detailText">Did you take your medicine?</div>
                    <div class="detailItemDate">08/09/2015 10:30</div><div class="detailText">Did you drink some water?</div>
                    <div class="detailItemDate">08/09/2015 08:00</div><div class="detailText">Are you awake?</div>
                    <div class="detailItemDate">07/09/2015 21:30</div><div class="detailText">Time to go to bed.</div>
                    <div class="detailItemDate">07/09/2015 14:00</div><div class="detailText">Did you take your medicine?</div>
                    <div class="detailItemDate">07/09/2015 10:30</div><div class="detailText">Did you drink some water?</div>
                </div>
            </div>
        </div>
    </div>
</div>

