<!-- List View -->
<div id="divServiceUserList" class="contentContainer" ng-controller="ListController">

    <!-- ************ -->
    <!-- list row -->
    <!-- ************ -->
    <div class="listItem">
        <div class="row">
            <div class="listItemName col-xs-6">
                <a href="/#/detail:1"> MyFirstName2 MyLastName2</a>
            </div>
            <div class="listItemStatus col-xs-6 text-right">
                <!-- battery level -->
                <img class="listItemIcon" src="images/battery_red.png" />
                <div class="listItemText hidden-xs">29% battery </div>
                <!-- signal -->
                <img class="listItemIcon" src="images/signal_green.jpg" />
                <div class="listItemText hidden-xs">Online </div>
                <!-- alarm -->
                <img class="listItemIcon" src="images/alarm_green.jpg" />
                <div class="listItemText hidden-xs">No active alarm </div>
            </div>
        </div>
    </div>


    <!-- ************ -->
    <!-- list row -->
    <!-- ************ -->
    <div class="listItem">
        <div class="row">
            <div class="listItemName col-xs-6">
                <a href="/#/detail:2"> MyFirstName2 MyLastName2</a>
            </div>
            <div class="listItemStatus col-xs-6 text-right">
                <!-- battery level -->
                <img class="listItemIcon" src="images/battery_yellow.png" />
                <div class="listItemText hidden-xs">49% battery </div>
                <!-- signal -->
                <img class="listItemIcon" src="images/signal_green.jpg" />
                <div class="listItemText hidden-xs">Online </div>
                <!-- alarm -->
                <img class="listItemIcon" src="images/alarm_green.jpg" />
                <div class="listItemText hidden-xs">No active alarm </div>
            </div>
        </div>
    </div>
</div>